
@{
    ViewBag.Title = "AttemptUpload";
}

<h2>Attempt Upload</h2>

@using (Html.BeginForm("ImageUpload", "Cloudinary", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="file" id="file" name="file" size="23" /><br />
        <label>RecipeID</label><input type="text" name="RecipeID" value="@ViewBag.RecipeID" readonly /><br />
        <label>Difficulty</label><input type="text" name="Difficulty" value="@ViewBag.Difficulty" readonly /><br />
    </p>
    <p>
        <input type="submit" value="Upload file" />
    </p>
}

