@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Grand Circus<br />
    1570 Woodward Ave., Level 3 Detroit, MI 48826<br />
    40 Pearl St., NW #200, Grand Rapids, MI 49503<br />
</address>

<address>
    <strong>General Inquiries:</strong>   <a href="mailto:hello@grandcircus.co">hello@grandcircus.co</a><br />
    <strong>Hiring Students:</strong> <a href="mailto:hiringpartners@grandcircus.co">hiringpartners@grandcircus.co</a>
</address>