
@{
    ViewBag.Title = "Difficulty";
}
<style>
    a:link {
        color: black;
    }
</style>
@*<style>
     body {
        font-family: sans-serif;
        text-align: center;
        background: url('@ViewBag.Photo') no-repeat center center fixed; /*center center for horizontal and vertical placement, then stay in viewport*/
        background-size: cover; /*background area is completely covered by the background image*/
    }
</style>*@
<h2 class="text-center">Difficulty</h2>

<a href="/Home/ChooseDifficulty1?RecipeID=@ViewBag.RecipeID">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-heading">
                <strong>Mild</strong> <span class="glyphicon glyphicon-fire"></span>
            </div>
            <div class="panel-body">
                New to this recipe? Maybe it is best to try it with the full instructions this time? This is a great place to start for a beginner!
            </div>
        </div>
        <!-- /.panel -->
    </div>
</a>
<a href="/Home/ChooseDifficulty2?RecipeID=@ViewBag.RecipeID">
    <div class="col-lg-4">
        <!-- /.panel-heading -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Medium</strong> <span class="glyphicon glyphicon-fire"></span> <span class="glyphicon glyphicon-fire"></span>
            </div>
            <div class="panel-body">
                Ready for a challenge? Try this recipe with the ingredients removed from the instructions and see what you can create!
            </div>
        </div>
        <!-- /.panel -->
    </div>
</a>
<a href="/Home/ChooseDifficulty3?RecipeID=@ViewBag.RecipeID">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-heading">
                <strong>Spicy</strong> <span class="glyphicon glyphicon-fire"></span> <span class="glyphicon glyphicon-fire"></span> <span class="glyphicon glyphicon-fire"></span>
            </div>
            <div class="panel-body">
                Feeling Confident? Spicy? Trying this recipe with just an ingredient list and show off your culinary skills!
            </div>
        </div>
        <!-- /.panel -->
    </div>
</a>