
@{
    ViewBag.Title = "Difficulty";
}

<h2>Difficulty</h2>

<a href="/Home/ChooseDifficulty1?RecipeID=@ViewBag.RecipeID">Level 1</a>
<a href="/Home/ChooseDifficulty2?RecipeID=@ViewBag.RecipeID">Level 2</a>
<a href="/Home/ChooseDifficulty3?RecipeID=@ViewBag.RecipeID">Level 3</a>