@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>User Info</h2>
        <table class="table-bordered">
            <tr>
                <td>@ViewBag.Username
                <img src="~/Content/Images/dummy-image.jpg" style="height:200px; padding:5px" />
                <p style="padding:5px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu pharetra arcu, 
                eget viverra ligula. Etiam cursus dictum tincidunt. Pellentesque eu egestas tellus. 
                Proin quis dolor et nisl vulputate elementum. Donec accumsan vitae lacus id consectetur. 
                </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Welcome to Contingency Cookin'! You know what they say, "If you can't handle the heat, get out of the kitchen!" In this true test of culinary skill, we invite users to demonstrate their cooking prowess by recreating common recipes. The only catch is, we provide you with little to no information on a recipe and your challenge as a cuisine-connoisseur is to try to match your knowledge against ours!</p>
    </div>
    <div class="col-md-4">
        <h2>Recipes</h2>
        <a href="/Home/Search/">Search Recipes</a>

    </div>
</div>