
@{
    ViewBag.Title = "SearchRecipes";
}

<h2>SearchRecipes</h2>

<form action="/Home/SearchRecipes" method="get">
    Search for a Recipe: <input type="text" name="input" /><br />
    <input type="submit" value="search" />
</form>