body {
    font-family: 'Crete Round', serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #DBBEA1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.panel-body {
    border: solid;
    border-width: 4px;
    border-color: #3F292B;
}
.panel-heading {
    background: #DB7F67;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #DB7F67;
    color: black;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #3F292B;
    border-color: #3F292B;
}

a:link {
    color: #DB7F67;
}

/* visited link */
a:visited {
    color: #DB7F67;
}

/* mouse over link */
a:hover {
    color: #D34F73;
}

/* selected link */
a:active {
    color: #DB7F67;
}

#panelid {
    border: solid;
    border-width: 4px;
    border-color: #3F292B;
}